* {
    box-sizing: content-box;
}

body {
    color: white;
    background: url(https://data.whicdn.com/images/318868622/original.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    color: white;
    background: rgb(71, 73, 84, );
    height: 10vh;
}
.fishImage {
    width: 20%;
}

#aquariumArticle {
    flex: 3;
    order: 1;
    padding-right: 5%;
}

#aquariumSection {
    flex: 1.5;
    order: 2;
}

#aquariumMain {
    display: flex;
    flex: 1;
}

#tankAside {
    flex: 0.5;
    order: 3;
}

#fishTips {
    padding-top: 5%;
    width: auto;
    height: auto;
    padding-bottom: 5%;
}

#harvestDiv {
    padding-top: 25%;
    width: auto;
}

header,
article,
aside {
    padding: 1em;
}